html {
    overflow-y: scroll;
    
}

.auth-img-bg {
    background: #272727 url('./assets/images/login-bg.jpg') no-repeat center center;
}

.h-15 {
    height: 15% !important;
}

.btn.btn-lg i {
    font-size: 1.4rem !important;
}

@media (max-width: 1024px) {
    .navbar .navbar-menu-wrapper .navbar-nav .nav-item.nav-search .input-group {
        width: 220px;
    }
}
